{{ partial "header.html" . -}}
<header><h1>{{ .Title }}</h1></header>
<p>Welcome to Ponderings.xyz. It is a place where a hobby, and a passion of mine meet. This website serves as my place on the Internet to showcase my IT abilities, and to share my writing with whomever stumbles upon this little nook.</p>
<p>This is only the first iteration of the site, so I will hopefully have an email address here for any comments or questions.</p>
<p>Take a look around, I'm sure you'll find what you are looking for...</p>
<article>
{{ .Content -}}
{{ partial "footer.html" . }}
